USE [master]
GO
/****** Object:  Database [hafizaOyunu]    Script Date: 22.08.2024 21:03:50 ******/
CREATE DATABASE [hafizaOyunu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hafizaOyunu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hafizaOyunu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hafizaOyunu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hafizaOyunu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hafizaOyunu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hafizaOyunu]
GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 22.08.2024 21:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[kullanici] ON 

INSERT [dbo].[kullanici] ([id], [kullaniciAdi]) VALUES (1, N'ceyda')
INSERT [dbo].[kullanici] ([id], [kullaniciAdi]) VALUES (2, N'şebnem')
INSERT [dbo].[kullanici] ([id], [kullaniciAdi]) VALUES (3, N'senem')
SET IDENTITY_INSERT [dbo].[kullanici] OFF
GO
USE [master]
GO
